#chat {
    margin: 30px auto;
    padding: 0 10px;

    #chat-messages {
        max-height: 400px;
        overflow: auto;

        li {
            margin-bottom: 10px;
            padding-left: 10px;
            list-style: inside;

            p {
                display: inline;

                li {
                    list-style-type: circle;
                }
            }
        }
    }

    .writing, .error {
        padding: 10px 0;
        font-style: italic;
    }

    #chat-form {
        display: flex;
        height: 40px;
    }
}
